.section-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid $light-gray;
}
.section-links li {
    margin: 10px 10px;
    font-size: 11px;
    font-style: $sans-serif;
}
.section-links li:hover {
    text-decoration: underline;
    background-color: $light-gray;
}

