<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
		<ul>
			<li><input class="the_bestest_button" type="button" id="subscribe-button" value="Subscribe Now"></li>
			<li><input class="the_bestest_button" type="button" id="login-button" value="Log In"></li>
			<!--<li><input class="the_gearest_button" type="button" id="settings-button" value="&#9881"></li>-->
			<!-- <li id="settings-modal-btn"><i class="the_gearest_button">&#9881</i></li> -->
			<li id="the_gearest_button"><i class="fas fa-cog"></i><%= render partial: 'shared/gear_dropdown' %>
			</li>
		</ul>
</nav>	
</header>
							<!-- <ul>
								<li class="the_bestest_button" id="subscribe-sidebar-btn">
									
									<i></i>
									<span>subscribe now</span>
								</li>
								<li class="the_bestest_button" id="login-modal-btn">
									<i></i>
									<span>log in</span>
								</li> -->