<section class="masthead">
    <img class="logo" src="assets/AA_Times_Logo.png">

    <section class="language-nav">
        <ul>
            <li><a href=""> CSS </a></li>
            <li><a href=""> HTML </a></li>
            <li><a href=""> Javascript </a></li>
            <li><a href=""> Ruby</a></li>
        </ul>
    </section>

    <section>
        <ul class = "masthead-links">
            <li><time>Tuesday, October 18, 2016</time></li>
            <li><button class="underlined"><i class="fas fa-newspaper"></i>Today’s Paper</button></li>
            <li><button class="underlined"><i class="fas fa-video"></i>Video</button></li>
            <li><button>77°F</button></li>
            <li><button>AAO +100%</button></li>
        </ul>
    </section>

</section>
