<h1>Create New Poem</h1>

<div>
    <form action="<%= poems_url %>" method="post">
        <%= auth_token %>
        <label>Title:
            <input name="poem[title]" value = "<%= @poem.title %>">
        </label>
        <label>Stanzas:
            <input name="poem[stanzas]" value = "<%= @poem.stanzas %>">
        </label>
        <p>Complete?</p>
        <label>True:
            <input type="radio" name="poem[complete]" value="true">
        </label>
        <label>True:
            <input type="radio" name="poem[complete]" value="false">
        </label>
        <button type="submit">Create Poem
    </form>
</div>